body {
  background-color: #76a9be;
  color: #fdffff;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding:5px 8px;
  background-color: #5785ad;
  color: #fdffff;
  border-style: none;
}
input {
  height:26px;
}